/*
 * General Css
 */

body {
  margin: 0;
}

/**
 * Css for authentication
 */

 .auth-form-container {
   width: 300px;
 }

/**
 * Css for NavBar.jsx
 */

.container {
  margin: 20px;
}

/**
 * Css for NavBar.jsx
 */

 .navbar {
   box-shadow: none;
 }

/**
 * Css for Task.jsx
 */
.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  border-bottom: 0.5px #E1E8ED solid;
}

.task .text {
  font-size: 1.5em;
}

.task .username {
  color: #8A9BA8;
  margin-left: auto;
}

/*
 * Css for App.jsx
 */

 .new-task {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   padding: 20px;
 }

 .new-task .text {
   width: 100%;
   font-size: 1.5em;
 }
