/*
 * General Css
 */
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.render-target {
  height: 100%;
}

/**
 * Css for authentication
 */

 .auth-container {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .auth-form-container {
   width: 300px;
 }

.auth-form-link-container {
  margin: 20px 0 0 0;
}

.auth-form-link {
  text-decoration: underline;
  cursor: pointer;
}

/**
 * Css for NavBar.jsx
 */

.container {
  margin: 20px;
}

/**
 * Css for NavBar.jsx
 */

 .navbar {
   box-shadow: none;
 }

/**
 * Css for Task.jsx
 */
.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  border-bottom: 0.5px #E1E8ED solid;
}

.task .done-button {
  border-radius: 50%;
  margin: 0 10px;
}

.task .text {
  font-size: 1.5em;
}

.task .username {
  color: #8A9BA8;
  margin-left: auto;
}

/*
 * Css for App.jsx
 */

 .new-task {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   padding: 20px;
 }

 .new-task .text {
   width: 100%;
   font-size: 1.5em;
 }
