.control-panel-container {
  width: 15%;
  margin: 5px;
  padding: 5px;
}

/*
 * CSS for project
 */

.project {
  margin: 5px 5px;
  padding: 5px 5px;
  cursor: pointer;
}

.project:hover {
  background-color: #E1E8ED;
}

.project .name {
  font-size: 1.1em;
}

/*
 * CSS for project form
 */

.new-project-form {
  display: flex;
  flex-direction: column;
}

.new-project-form .project-name-input {
  width: 80%;
}

.new-project-form .save-button {
  margin: 5px 5px 0 0;
}

.new-project-form .cancel-button {
  margin: 5px 0 0 5px;
}
