/*
 * General Css
 */
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.render-target {
  height: 100%;
}

.no-outline {
  outline: none !important;
}
/**
 * Css for authentication
 */

.auth-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form-container {
  width: 300px;
}

.auth-form-link-container {
  margin: 20px 0 0 0;
}

.auth-form-link {
  text-decoration: underline;
  cursor: pointer;
}

/**
 * Css for NavBar.jsx
 */

.navbar-container {
  width: 60%;
  margin: auto;
}

.title {
  font-weight: bold;
  font-family: 'Syncopate', sans-serif;
}

.navbar {
 box-shadow: none;
}

/**
 * Css from Application
 */

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0;
}

/*
 * Css for App.jsx
 */

.new-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0;
}

.new-task .text-input {
  width: 100%;
  font-size: 1.5em;
  border: 0;
  outline: none;
}

.new-task .submit-button {
  display: none;
}
